// @import '@fortawesome/fontawesome-free/css/all.css';
// @import 'bootstrap/scss/bootstrap.scss';

body {
    background: url('../images/apple_158989157.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
}
